@use "@/styles/index" as *;

.section {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameBlock {
  display: grid;
  grid-template-columns: minmax(200px, 350px) minmax(300px, 1fr);
  grid-auto-flow: dense;
  flex: 1;
  min-height: 555px;
  overflow: hidden;
  border-radius: var(--radius-16);

  @include maxWidth(md) {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 52px;
    gap: 24px;
  }

  @include minWidth(md) {
    max-height: 700px;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 16px;
  background-color: var(--secondary-bg-color);
}

.asideInner {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.gameBoard {
  @include flexCenter;
  position: relative;
  flex-direction: column;
  height: 100%;
  padding: 25px;
  background-image: url("/images/dragon-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.soundButton {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 6px;
  border-radius: var(--radius-8);
  border-color: var(--black-27-color);
  opacity: 1;

  &:hover {
    opacity: 0.8;
  }
}

.balanceContainer {
  @include flexCenter;
  padding: 7px 10px 8px;
  gap: 10px;
  border-radius: var(--radius-4);
  background: var(--black-30-color);

  @include maxWidth(md) {
    position: absolute;
    top: 20px;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 660px;
    margin: 0 auto;
  }
}

.balance {
  color: var(--gray-80-color);
}

.cashoutButton {
  width: 100%;
  margin-top: 10px;
  background-color: #22c55e;

  &:hover {
    background-color: #16a34a;
  }
}

.multiplierInfo {
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  color: #ffd026;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.gameMessage {
  margin: 10px 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;

  &.won {
    color: var(--green-5e-color);
  }

  &.lost {
    color: var(--red-ef-color);
  }
}
