@use "variables" as *;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin minWidth($size) {
  @media screen and (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin maxWidth($size) {
  @media screen and (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin padded($base: 40px, $md: 48px, $lg: 64px, $sm: 28px) {
  padding-top: $base;
  padding-bottom: $base;

  @media (min-width: 1280px) {
    padding-top: $lg;
    padding-bottom: $lg;
  }

  @media (max-width: 1025px) {
    padding-top: $md;
    padding-bottom: $md;
  }

  @media (max-width: 550px) {
    padding-top: $sm;
    padding-bottom: $sm;
  }
}
