:root {
  --primary-font-rubik: "Rubik";
  --secondary-font-montserrat: "Montserrat";
  --tertiary-font-medieval: "MedievalSharp", cursive;

  --primary-text-color: #fff;
  --secondary-text-color: #ffffff40;

  --primary-bg-color: #0a0e16;
  --secondary-bg-color: #141a26;
  --input-bg-color: #0e141e;
  --button-bg-color: #222734;

  --gray-color: #ffffff80;
  --accent-color: #ffd026;

  --box-shadow: 0 0 7.4px #ffd0260d inset;
}
