@use "./reset";
@use "./index" as *;

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-family: var(--primary-font-rubik), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
