.card {
  overflow: hidden;
  border-radius: var(--radius-20);
  cursor: pointer;
  transition: var(--transition-base);

  &:hover {
    box-shadow:
      0 0 4px 5.5px #264079,
      0 0 5px 5px #6066d0,
      0 0 8px 4.5px #15688e;
  }

  &:active {
    box-shadow:
      0 0 4px 5.5px #e56018,
      0 0 5px 5px #d0c960,
      0 0 8px 4.5px #ac4a08 !important;
  }
}
