.cardGrid {
  display: grid;
  grid-template-rows: 200px;
  // grid-template-columns: repeat(6, minmax(50px, 200px));
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  gap: 15px;
}
