.card {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 200px;
  cursor: pointer;
  perspective: 1000px;
  transition: var(--transition-base);

  &:hover:not(.flipping) {
    box-shadow:
      0 0 4px 5.5px #264079,
      0 0 5px 5px #6066d0,
      0 0 8px 4.5px #15688e;
  }

  &:active:not(.flipping) {
    box-shadow:
      0 0 4px 5.5px #e56018,
      0 0 5px 5px #d0c960,
      0 0 8px 4.5px #ac4a08 !important;
  }
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: var(--radius-20);
  transition: transform 0.6s;
}

.cardInner.isFlipping {
  transform: rotateY(-180deg);
}

.cardInner.flipped {
  transform: rotateY(-180deg);
}

.cardFace {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--radius-20);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cardFront {
  z-index: 2;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cardBack {
  z-index: 1;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cardInner.isFlipping .cardFront,
.cardInner.isFlipping .cardBack {
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  display: none;
}

.disabled {
  cursor: default;
}

.selected {
  z-index: 100;
  transform: scale(1.1);
  box-shadow:
    0 0 4px 5.5px #ffd026,
    0 0 5px 5px #ffd026,
    0 0 8px 4.5px #ffd026 !important;
}

.dragging {
  z-index: 1000;
  transform: scale(1.05);
  cursor: grabbing;
  opacity: 0.8; // Чуть прозрачный при перетаскивании

  .card {
    cursor: grabbing;
  }
}

.draggableWrapper {
  width: 100%;
  height: 100%;
  min-height: 200px;
}
