.button {
  padding: 7px 10px 8px;
  border-radius: var(--radius-4);
  background-color: var(--button-bg-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  transition: var(--transition-base);

  &:hover {
    background-color: var(--button-hover-color);
  }

  &:active {
    background-color: var(--button-hover-color);
    box-shadow: var(--shadow-button);
    color: var(--accent-color);
  }

  &:disabled {
    background-color: #6b7280;
    cursor: not-allowed;
  }
}
