.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius-4);
  background-color: var(--button-bg-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  opacity: 0.8;
  transition: var(--transition-base);

  &:hover {
    background-color: var(--button-hover-color);
  }

  &:active {
  }

  &:disabled {
    background-color: #6b7280;
    cursor: not-allowed;
  }
}
