.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 8px;
}

@media (min-width: 551px) {
  .container {
    max-width: 700px;
    padding: 0 20px;
  }
}

@media (min-width: 1025px) {
  .container {
    max-width: 1050px;
  }
}
