.input {
  width: 100%;
  height: 48px;
  padding: 8px;
  border: none;
  border-radius: var(--radius-8);
  background-color: var(--input-bg-color);
  color: white;
  font-weight: 500;

  &:focus {
  }

  &::placeholder {
  }
}
