.input {
  width: 100%;
  height: 48px;
  padding: 8px;
  border: none;
  border-radius: var(--radius-8);
  background-color: var(--black-1e-color);
  color: white;
  font-weight: 500;
  font-family: inherit;

  &:focus {
  }

  &::placeholder {
  }

  &:disabled {
    -webkit-text-fill-color: white;
    background-color: var(--black-1e-color);
    color: white;
    cursor: not-allowed;
    opacity: 1;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
